<div class="container bg-dark" id="favouriteList">
	<div class="d-none d-sm-block">
		<div class="row d-flex justify-content-end mt-1">
			<button type="button" class="close" data-ng-click="ok()" aria-label="Close" style="color:white">
					<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="row justify-content-center mt-3">
			<h1>Favourite List</h1>
		</div>	
		
		<div class="row justify-content-center">
			<div class="card col-2" id="{{x.id}}" data-ng-click="openModal(x.id)" data-ng-repeat="x in data">
				<img class="card-img-top" src="http://image.tmdb.org/t/p/w500/{{x.poster_path}}" alt="{{x.title}} Image">
			</div>
		</div>
		
		<div class="row justify-content-center align-self-center mt-2">
			<ul uib-pagination data-total-items="totalItems" data-ng-model="currentPage" data-items-per-page="itemsPerPage" data-boundary-links-numbers="true"></ul>
		</div>
	</div>
	
	<div class="d-block d-sm-none">
		<div class="row">
			<div class="col text-center">
				<h1>Favourite List</h1>
			</div>
		</div>
		
		<div class="row justify-content-center align-self-center p-1" data-ng-click="openModal(x.id)" data-ng-repeat="x in data">
			<div class="col-4">
				<img class="img-fluid" src="http://image.tmdb.org/t/p/w92/{{x.poster_path}}" alt="{{x.title}} Image">
			</div>
			<div class="col-8">
				<h5 class="card-title">{{x.title}}</h5>
			</div>
		</div>

		<div class="row justify-content-center align-self-center mb-5">
			<ul uib-pagination data-total-items="totalItems" data-ng-model="currentPage" data-items-per-page="itemsPerPage" data-boundary-links-numbers="true"></ul>
		</div>
	</div>
</div>