<div class="modal fade" id="login" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content bg-dark">
			<div class="modal-header">
				<h5 class="modal-title">Login with social account now!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
					  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row m-2">
					<div class="btn btn-block btn-facebook" data-ng-click="accType('fb')"><i class="fab fa-facebook-f"></i>Login via Facebook</div>
				</div>
				
				<div class="row m-2">
					<div class="btn btn-block btn-google" data-ng-click="accType('google')"><i class="fab fa-google"></i>Login via Gmail</div>
				</div>
			</div>
		</div>
	</div>
</div>